/*Estilo global de la pagina, letra y fondo de la misma.*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

/*Se agrega padding si se está visualizando desde una tablet o móvil para que el contenido no quede pegado al borde del display*/
@media only screen and (max-device-width: 1366px) {
    body{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

/*Barra de navegación*/
.navbar {
    overflow: hidden;
    background-color: green;
    width: max-content;
    border-radius: 10px;
    display: flex;
}

.navbar a {
    float: left;
    /*font-size: 3vh;*/
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: skyblue;
    color: black;
}


ul {
    margin: 0;
}

/*Todo lo que vaya en un bloque citado estará en cursiva*/
blockquote p {
    font-style: italic;
}

/*Pie de pagina*/
footer {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.264);
    color: white;
}

footer p {
    font-size: 2vh;
    padding: 0vw 1vh;
}

/*clase titulo, solo se usa en el Header*/
.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

/*Se declara la clase centrado para centrar cualquier titulo o texto que se vea mejor así (dependiendo la distribución de contenido)*/
.centrado{
    align-items: center;
    text-align: center;
}

.justificado_izquierda{
    text-align: left;
}

/*clase container, para repartir todos los elementos de manera uniforme en el eje horizontal en pantallas grandes*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /*flex-wrap: wrap;*/
}

/*Excepción para que el container distribuya todo en vertical si se ve desde una pantalla de menos de 1366 pixeles de ancho*/
@media only screen and (max-device-width: 1366px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
}

/*Se agrega padding a cada elemento del container para mayor claridad y diferenciación entre textos*/
.elemento_container{
    padding: 1vh 1vw;
}

.boton_transparente{
    background-color: transparent;
    border-color: transparent;
}

.footer_copyright {
    text-align: left;
    background-color: rgb(0, 0, 144);
    color: white;
}

.place_holder_dashboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}