#grafico_torta {
    width: 80vw;
    height: 70vh;
    background-color: transparent;
}

#grafico_barras {
    width: 80vw;
    height: 70vh;
    background-color: transparent;
}

#grafico_barras text{
    fill: black !important
}

#grafico_lineas {
    width: 80vw;
    height: 70vh;
    background-color: transparent;
}

#grafico_area {
    width: 80vw;
    height: 70vh;
    background-color: transparent;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead th {
    position: sticky;
    top: 0vh;
    background-color: #dddddd
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}